---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-gate
  namespace: minecraft
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-gate
      version: 2.1.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    service:
      main:
        externalTrafficPolicy: Local
        type: LoadBalancer
        loadBalancerIP: ${MINECRAFT_IP}
        integrations:
          metallb:
            enabled: true

    configmap:
      config:
        enabled: true
        data:
          config.yml: |
            config:
              bind: 0.0.0.0:{{ .Values.service.main.ports.main.port }}
              onlineMode: true
              debug: true
              query:
                enabled: true
                port: {{ .Values.service.main.ports.query.port }}
                showPlugins: false
              lite:
                enabled: true
                routes:
                  - host: [mc.${DOMAIN_0}]
                    backend: minecraft-java.minecraft.svc.cluster.local:25565
                    cachePingTTL: -1s
                    fallback:
                      motd: |
                        §cServer is offline.
                        §eCheck back later!
                      version:
                        name: '§cTry again later!'
                        protocol: -1
                      favicon: /icons/server-icon.png
